---
import LibraryDocs from "../components/LibraryDocs.astro";
import LibraryDocumentation from "../components/LibraryDocumentation.astro";
---

<html>
  <head>
    <title>Library Documentation</title>
  </head>
  <body>
    <!-- <LibraryDocs /> -->
	<LibraryDocumentation />
  </body>
</html>
